<section class="ui stackable content main grid container">
  <section class="ui content container" id="cities">
    <div class="ui center aligned container" data-editable data-name="cities">

      <h2 class="ui header aligned center">Cities</h2>
      <h4 class="ui header aligned center">Local Rounds <span
        style="color:red">will take</span> place in <span
        style="color:#0e83d7">18</span> cities across Europe and Turkey.
        <br>To apply click on your city's name.</h4>
        <div class="ui people container mt-4" id="cities">
          <div class="ui four link stackable special cards">
            <script>
            $('.special.cards .image').dimmer({
              on: 'hover'
            });
            </script>

  <div class="ui card" ui-sref="eindhoven">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Miguel Inocêncio
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:moinocencio@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/EESTechChallengeAveiro"
        target="_blank">
        <i class="facebook icon"></i>
      </a> -->
    </div>
  </div>
</div>
<img src="assets/images/lc/Eindhoven.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="eindhoven">Observer Eindhoven</a>
  <div class="description">The Netherlands</div>
</div>
</div>


<div class="ui card" ui-sref="duisburg">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Aditya Krishnan
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:aditya.krishnan@ucdconnect.ie">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/EESTechChallengeDuisburg/"
        target="_blank">
        <i class="facebook icon"></i>
      </a>-->
    </div>
  </div>
  </div>
  <img src="assets/images/lc/Duisburg.jpg">
  </div>
  <div class="content">
    <a class="header" ui-sref="duisburg">JLC Duisburg</a>
    <div class="description">Germany</div>
  </div>
  </div>



<div class="ui card" ui-sref="milan">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Silvia Maddalena Rossi
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:ec.ambassador.milan@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/eestechchallengemilano"
        target="_blank">
        <i class="facebook icon"></i>
      </a>-->
    </div>
  </div>
  </div>
  <img src="assets/images/lc/Milan.jpg">
  </div>
  <div class="content">
    <a class="header" ui-sref="milan">JLC Milan</a>
    <div class="description">Italy</div>
  </div>
  </div>


  <div class="ui card" ui-sref="petersburg">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <!-- <p>
                <h4>Ambassador</h4>
                Silvia Maddalena Rossi
              </p>
            <a class="ui inverted small circular icon button dimmerB"
            href="mailto:ec.ambassador.milan@gmail.com">
            <i class="mail icon"></i>
          </a>
          <a class="ui inverted small circular icon button dimmerB"
          href="https://www.facebook.com/eestechchallengemilano"
          target="_blank">
          <i class="facebook icon"></i>
        </a>-->
      </div>
    </div>
    </div>
    <img src="assets/images/lc/Petersburg.jpg">
    </div>
    <div class="content">
      <a class="header" ui-sref="petersburg">JLC St. Petersburg</a>
      <div class="description">Russia</div>
    </div>
    </div>


    <div class="ui card" ui-sref="ankara">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <!-- <p>
                  <h4>Ambassador</h4>
                  Eleni Boukouvala
                </p>
              <a class="ui inverted small circular icon button dimmerB"
              href="mailto:helenbouk@gmail.com">
              <i class="mail icon"></i>
            </a>
            <a class="ui inverted small circular icon button dimmerB"
            href="https://www.facebook.com/eestechchallengeathens"
            target="_blank">
            <i class="facebook icon"></i>
          </a>-->
        </div>
      </div>
    </div>
    <img src="assets/images/lc/Ankara.jpg">
    </div>
    <div class="content">
    <a class="header" ui-sref="ankara">LC Ankara</a>
    <div class="description">Turkey</div>
    </div>
    </div>



<div class="ui card" ui-sref="athens">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Eleni Boukouvala
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:helenbouk@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/eestechchallengeathens"
        target="_blank">
        <i class="facebook icon"></i>
      </a>-->
    </div>
  </div>
</div>
<img src="assets/images/lc/Athens.jpg">
</div>
<div class="content">
<a class="header" ui-sref="athens">LC Athens</a>
<div class="description">Greece</div>
</div>
</div>

<div class="ui card" ui-sref="craiova">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Mladen Sokić
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:mladensokic@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengebelgrade"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Craiova.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="craiova">LC Craiova</a>
  <div class="description">Romania</div>
</div>
</div>


<div class="ui card" ui-sref="ljubljana">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Rok Hudobivnik
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestechchallenge@eestec-lj.org">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeLjubljana" target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Ljubljana.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="ljubljana">LC Ljubljana</a>
  <div class="description">Slovenia</div>
</div>
</div>


<div class="ui card" ui-sref="munich">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Rok Hudobivnik
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestechchallenge@eestec-lj.org">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeLjubljana" target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Munich.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="munich">LC Munich</a>
  <div class="description">Germany</div>
</div>
</div>


<div class="ui card" ui-sref="nis">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Silvia Maddalena Rossi
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:ec.ambassador.milan@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengenis/"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Nis.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="nis">LC Niš</a>
  <div class="description">Serbia</div>
</div>
</div>


<div class="ui card" ui-sref="patras">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Brodimas Dimitrios
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:dimitris.brodimas@gmail.com ">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechallengepatras"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Patras.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="patras">LC Patras</a>
  <div class="description">Greece</div>
</div>
</div>


<div class="ui card" ui-sref="podgorica">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Brodimas Dimitrios
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:dimitris.brodimas@gmail.com ">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechallengepatras"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Podgorica.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="podgorica">LC Podgorica</a>
  <div class="description">Montenegro</div>
</div>
</div>


<div class="ui card" ui-sref="thessaloniki">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <!-- <div class="center">
            <p>
              <h4>Ambassador</h4>
              Armando Xhaxho
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:eestechchallengetirana.ho@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/eestechchallengetirana"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div> -->
  </div>
  </div>
  <img src="assets/images/lc/Thessaloniki.jpg">
  </div>
  <div class="content">
    <a class="header" ui-sref="thessaloniki">LC Thessaloniki</a>
    <div class="description">Greece</div>
</div>
</div>

<div class="ui card" ui-sref="tirana">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Armando Xhaxho
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestechchallengetirana.ho@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengetirana"
      target="_blank">
      <i class="facebook icon"></i>
    </a> -->
  </div>
</div>
</div>
<img src="assets/images/lc/Tirana.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="tirana">LC Tirana</a>
  <div class="description">Albania</div>
</div>
</div>

<div class="ui card" ui-sref="trieste">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!--<p>
            <h4>Ambassador</h4>
            Enrico Falanga
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestech-challenge@eestec.it">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeTrieste"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Trieste.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="trieste">LC Trieste</a>
  <div class="description">Italy</div>
</div>
</div>



<div class="ui card" ui-sref="tuzla">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Jasmina Jurišić
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:jasmina.jurisic96@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengetuzla/"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Tuzla.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="tuzla">LC Tuzla</a>
  <div class="description">Bosnia and Herzegovina</div>
</div>
</div>

<div class="ui card" ui-sref="xanthi">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Panagiotis Andreou
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestech.challenge.xanthi@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengexanthi"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Xanthi.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="xanthi">LC Xanthi</a>
  <div class="description">Greece</div>
</div>
</div>

<div class="ui card" ui-sref="zurich">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Sandro Baumgartner
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:bausandr@student.ethz.ch">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTech-Challenge-Zurich-1119848218132287"
      target="_blank">
      <i class="facebook icon"></i>
    </a>-->
  </div>
</div>
</div>
<img src="assets/images/lc/Zurich.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="zurich">LC Zurich</a>
  <div class="description">Switzerland</div>
</div>
</div>


</div>
</section>
</section>
