<section class="ui inverted vertical masthead center aligned segment" id="final-round">
    <!-- <div class="ui stackable grid container"> -->
      <!-- <div class="row" style="padding:0px"> -->
        <!-- <div class="ui flex center sixteen wide column"> -->
          <img class="ui huge image" style="width: 100%" src="assets/images/2020_Final_Round.jpg">
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </section>

  <section class="ui content container" data-editable data-name="about"
           id="about">
    <p>
        The Final Round is the second and last phase of EESTech Challenge where all winning teams will compete against each other in the final hackathon.
        This year it will take place in the historic city of Krakow from 26th to 29th May. In the four day event, the teams from Ankara,
        Athens, Craiova, Eindhoven, Duisburg, Ljubljana, Milan, Munich, Niš, Patras, Podgorica, St. Petersburg, Thessaloniki, Tirana, Trieste,
        Tuzla, Xanthi and Zurich will get the chance to meet the city of Krakow and gain knowledge, experience and connections in the field of
        Human-Computer Interaction. They are all ready for the challenge, but only one winning team from each of these cities will earn their spot in the Final Round.
    </p>
    <br/>
    <!--
      <div class="ui center aligned item" ng-show="!loggedin">
          <a ui-sref="register" class="ui huge fluid ec-blue button" id="register">
              <i class="add user icon"></i> Register Now!
          </a>
      </div>
      <div class="ui center aligned item" ng-show="loggedin">
          <a ui-sref="authed.team" class="ui huge fluid ec-blue button" id="team">
              <i class="users icon"></i> My Team
          </a>
      </div>
    -->
  </section>
