<section class="ui inverted vertical masthead center aligned segment" id="home">
  <!-- <div class="ui stackable grid container"> -->
    <!-- <div class="row" style="padding:0px"> -->
      <!-- <div class="ui flex center sixteen wide column"> -->
        <img class="ui huge image" style="width: 100%" src="assets/images/Banner2020.png">
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</section>

<section class="ui content container" data-editable data-name="about"
         id="about">
  <p><b>EESTech Challenge</b> is a competition organized by EESTEC, fourth year in a row. 
    It aims to create opportunities for European students to gain knowledge in the field of 
    EECS and develop their professional network. The technological topic of the competition 
    is changed annually, and this year it is
    <br> <b style="color: #0e83d7">Human-Computer Interaction</b>. </br></p>

  <p>In order to create a competition that is as fair as possible, the EESTech Challenge Academic team 
    will provide participants with academic content to make sure that everyone has the same level of 
    knowledge before the Rounds. Since EESTEC emphasizes education and self-improvement, we would like 
    everyone to benefit from this project by expanding their knowledge, which is why we will share this 
    academic content publicly through our social media.
  </p>
  <br/>
  <!--
    <div class="ui center aligned item" ng-show="!loggedin">
        <a ui-sref="register" class="ui huge fluid ec-blue button" id="register">
            <i class="add user icon"></i> Register Now!
        </a>
    </div>
    <div class="ui center aligned item" ng-show="loggedin">
        <a ui-sref="authed.team" class="ui huge fluid ec-blue button" id="team">
            <i class="users icon"></i> My Team
        </a>
    </div>
  -->
</section>

<section class="ui content inverted ec-blue segment"
         style="padding-top:2rem;padding-bottom:3rem;">
  <div class="ui center aligned container">
    <!--<div data-editable data-name="rules-heading">-->
    <!--&lt;!&ndash; editable rules-heading &ndash;&gt;-->
    <!--<h2 class="ui inverted light header aligned center">This year's topic-->
    <!--</h2>-->
    <!--<h4 class="ui inverted light header aligned center">Machine learning</h4>-->
    <!--&lt;!&ndash; endeditable rules-heading &ndash;&gt;-->
    <!--</div>-->
    <div class="ui center aligned stackable grid mt-4">
      <div class="three column row">
        <div class="column" data-editable data-name="rules-1">
          <!-- editable rules-1 -->
          <i class="ui huge idea icon"></i>
          <h4 class="ui header inverted">Topic</h4>
          <p>This year the chosen topic is <b>Human-Computer Interaction</b>.</p>
          <!-- endeditable rules-1 -->
        </div>
        <div class="column" data-editable data-name="rules-2">
          <!-- editable rules-2 -->
          <i class="ui huge users icon"></i>
          <h4 class="ui header inverted">Teams</h4>
          <p>Teams will consist out of <strong>three</strong> members who should
            demonstrate not only their knowledge, but also their motivation,
            dedication and team spirit. Those skills should guide them towards
            victory!</p>
          <!-- endeditable rules-2 -->
        </div>
        <div class="column" data-editable data-name="rules-4">
          <!-- editable rules-4 -->
          <i class="ui huge trophy icon"></i>
          <h4 class="ui header inverted">Rounds</h4>
          <p>Aiming to create it more objective, interesting and informative, the competition 
            will consist of two levels. Local Rounds, done in different EESTEC branches  
            between February and April, and the Final Round, which will take place in Krakow,
            Poland from 26th to 29th of May.</p>
          <!-- endeditable rules-4 -->
        </div>
      </div>
    </div>
    <!--<div class="ui mt-4">-->
    <!--<a ui-sref="faq">-->
    <!--<button class="ui large inverted ec-blue button">-->
    <!--<i class="help circle icon"></i> FAQ &amp; Rules-->
    <!--</button>-->
    <!--</a>-->
    <!--<a ui-sref="terms">-->
    <!--<button class="ui large inverted ec-blue button">-->
    <!--<i class="legal icon"></i> Terms &amp; Conditions-->
    <!--</button>-->
    <!--</a>-->
    <!--</div>-->
  </div>
</section>
<!--
<section class="ui content container" id="cities">
    <div class="ui center aligned container" data-editable data-name="cities">

        <h2 class="ui header aligned center">Cities</h2>
        <h4 class="ui header aligned center">Local Rounds will take place in <span style="color:#0e83d7">16</span> cities across Europe and Turkey.</h4>
        <div class="ui people container mt-4" id="cities">
            <div class="ui four link stackable special cards">
              <script>
                $('.special.cards .image').dimmer({
          			     on: 'hover'
          		    });
              </script>
                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Jorge Fernández Martínez
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:yorke005@hotmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTech-Challenge-Almer%C3%ADa-376108782724586" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                    <img src="assets/images/lc/jlc-almeria.jpg">
                  </div>
                    <div class="content">
                        <div class="header">Almería</div>
                        <div class="description">Spain</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <p>
                              <h4>Ambassador</h4>
                              Marco Di Giovanni
                            </p>
                            <a class="ui inverted small circular icon button dimmerB" href="mailto:digiovanni.marco.93@gmail.com">
                              <i class="mail icon"></i>
                            </a>
                            <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTechChallengeCatania" target="_blank">
                              <i class="facebook icon"></i>
                            </a>
                          </div>
                        </div>
                        </div>
                        <img src="assets/images/lc/jlc-catania.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Catania</div>
                        <div class="description">Italy</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <p>
                              <h4>Ambassador</h4>
                              Tunca Deniz Yazıcı
                            </p>
                            <a class="ui inverted small circular icon button dimmerB" href="mailto:tuncadyazici@hotmail.com">
                              <i class="mail icon"></i>
                            </a>
                            <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechchallengeankara" target="_blank">
                              <i class="facebook icon"></i>
                            </a>
                          </div>
                        </div>
                        </div>
                        <img src="assets/images/lc/lc-ankara.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Ankara</div>
                        <div class="description">Turkey</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <p>
                              <h4>Ambassador</h4>
                              Elena Xanthi
                            </p>
                            <a class="ui inverted small circular icon button dimmerB" href="mailto:xanthi.elena@gmail.com">
                              <i class="mail icon"></i>
                            </a>
                            <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechchallengeathens" target="_blank">
                              <i class="facebook icon"></i>
                            </a>
                          </div>
                        </div>
                        </div>
                        <img src="assets/images/lc/lc-athens.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Athens</div>
                        <div class="description">Greece</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <p>
                              <h4>Ambassador</h4>
                              Marina Obrenović
                            </p>
                            <a class="ui inverted small circular icon button dimmerB" href="mailto:marina.obrenovic@eestec.etf.rs">
                              <i class="mail icon"></i>
                            </a>
                            <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechchallengebelgrade" target="_blank">
                              <i class="facebook icon"></i>
                            </a>
                          </div>
                        </div>
                        </div>
                        <img src="assets/images/lc/lc-belgrade.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Belgrade</div>
                        <div class="description">Serbia</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <p>
                              <h4>Ambassador</h4>
                              Daniele De Francesco
                            </p>
                            <a class="ui inverted small circular icon button dimmerB" href="mailto:93.daniele@gmail.com">
                              <i class="mail icon"></i>
                            </a>
                            <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechchallengecosenza" target="_blank">
                              <i class="facebook icon"></i>
                            </a>
                          </div>
                        </div>
                        </div>
                        <img src="assets/images/lc/lc-cosenza.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Cosenza</div>
                        <div class="description">Italy</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="blurring dimmable image">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <p>
                              <h4>Ambassador</h4>
                              Paweł Rybicki
                            </p>
                            <a class="ui inverted small circular icon button dimmerB" href="mailto:pawrybicki@tlen.pl">
                              <i class="mail icon"></i>
                            </a>
                            <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTechChallengeGliwice" target="_blank">
                              <i class="facebook icon"></i>
                            </a>
                          </div>
                        </div>
                        </div>
                        <img src="assets/images/lc/lc-gliwice.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Gliwice</div>
                        <div class="description">Poland</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Bartek Kłusek
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:bartlomiejklusek93@gmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTEC.AGH.Krakow" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-krakow.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Kraków</div>
                        <div class="description">Poland</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Gabriel Waterlot
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:gabwaterlot@gmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTech-Challenge-Lille-235068396920290" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-lille.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Lille</div>
                        <div class="description">France</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Nikola Stajić
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:n.stajic42@gmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTech-Challenge-Novi-Sad-1794404020777813" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-novi-sad.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Novi Sad</div>
                        <div class="description">Serbia</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Nikos Nikolaidis
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:nnikon95@gmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechallengepatras" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-patras.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Patras</div>
                        <div class="description">Greece</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Ajša Terko
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:ajsa.terko@eestec-sa.ba">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechchallengesarajevo" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-sarajevo.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sarajevo</div>
                        <div class="description">Bosnia and Herzegovina</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Gerta Xhepi
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:xhepigerta@gmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/xhepigerta" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-tirana.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Tirana</div>
                        <div class="description">Albania</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Elvis Skoždopolj
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:elvis.skozdopolj@gmail.com">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/eestechchallengetuzla" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-tuzla.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Tuzla</div>
                        <div class="description">Bosnia and Herzegovina</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Katarina Lukić
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:katarina.lukic@eestec-zg.hr">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTech-Challenge-Zagreb-637205029785681" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-zagreb.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Zagreb</div>
                        <div class="description">Croatia</div>
                    </div>
                </div>

                <div class="ui card">
                  <div class="blurring dimmable image">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <p>
                            <h4>Ambassador</h4>
                            Sandro Baumgartner
                          </p>
                          <a class="ui inverted small circular icon button dimmerB" href="mailto:sandro@eestec.ethz.ch">
                            <i class="mail icon"></i>
                          </a>
                          <a class="ui inverted small circular icon button dimmerB" href="https://facebook.com/EESTech-Challenge-Zurich-1119848218132287" target="_blank">
                            <i class="facebook icon"></i>
                          </a>
                        </div>
                      </div>
                      </div>
                        <img src="assets/images/lc/lc-zurich.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Zurich</div>
                        <div class="description">Switzerland</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--<section class="ui content container" id="online-seminars">-->
<!--<div class="ui center aligned container" data-editable data-name="online-seminars">-->
<!--<h2 class="ui header aligned center">Online Seminars</h2>-->
<!--<div class="testimonial-quote group" style="margin-bottom:30px">-->
<!--<div class="quote-container">-->
<!--<blockquote>-->
<!--<p>“Students do not learn much just sitting in classes listening to teachers, memorizing prepackaged assignments, and spitting out answers. They must talk about what they are learning, write reflectively about it, relate it to past experiences, and apply it to their daily lives. They must make what they learn part of themselves.”</p>-->
<!--</blockquote>-->
<!--<cite style="margin-top:10px"><span>Arthur W. Chickering and Stephen C. Ehrmann</span><br>-->
<!--</cite>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="ui row horizontal piled segments">-->
<!--<div class="ui content" style="padding:10px">-->
<!--<p>With this quote in mind, we started our journey towards offering you the opportunity to learn some of cutting edge technology skills, <strong>today</strong>.</p>-->
<!--<p><strong>Online seminar</strong> is a free educational tool for sharing knowledge with both EESTECers and non-EESTECers from all over Europe, while avoiding geographical or time boundaries raised by attending trainings in person. Online Seminars aim to provide EESTech Challenge Participants with the theoretical and technical knowledge they will need for the local and final EESTech Challenge Competition.</p>-->
<!--<p>By discussing the different topics, related to the project’s theme, we will try to educate and raise the visibility of our Association.</p>-->
<!--<p>This year’s Online Seminars consists of two rounds:<br />-->
<!--<ul>-->
<!--<li>The first round consists of two seminars and will be held in December - January. The purpose is for participants to gain the basic knowledge on the topic of Machine Learning, specifically Supervised Machine Learning and its applications in real life by presenting both theoretical knowledge and practical ex in a fun, interactive and approachable manner.<br /></li>-->
<!--<li>The second round will be held during February– April. In this round we aim to take it one step further and present projects and ideas for the local EESTech Challenge rounds. Using prior knowledge from the first seminars, we plan to dive deeper into the subject and introduce and present more advanced topics and applications of supervised learning.</li>-->
<!--</ul>-->
<!--</p>-->
<!--<p>We highly recommend you to promote Online Seminars in your city, being beneficial not only for increasing public recognition of your Committee, but also for the promotion of the Local Round itself. Online learning is not the next big thing, it is the now big thing. Power your future!</p>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<section class="ui content container" id="eestec">
  <div class="ui">
    <h2 class="ui header aligned center mt-4">About
      <strong class="ui red header">EESTEC</strong>
    </h2>
    <h3 class="ui header aligned center">Electrical Engineering STudents'
      European assoCiation</h3>
    <p>EESTEC is a non-political, non-profit organization of and for Electrical
      Engineering and Computer Science (EECS) students at universities,
      institutes and technical schools in Europe awarding an engineering degree.
      The aim is to promote and develop
      international contacts and the exchange of ideas among the students of
      EECS. The association achieves its aim through improving technical
      knowledge of EECS students, introducing them to the industry and the
      educational system of other countries.
      The association was founded in The Netherlands in 1986. Since then, EESTEC has spread 
      all around Europe and is now connecting over 4000 students 
      from 25 countries and 55 universities. EESTEC addresses students with
      skills, openness, enthusiasm and ambition. It connects them to a wider range of opportunities 
      in the educational as well as the professional world.</p>
    <a href="https://www.eestec.net" target="_blank">
      <img alt="" class="ui centered large image"
           src="assets/images/eestec-logo.png">
    </a>
  </div>
</section>

<section class="ui content container" id="contact">
  <div class="ui text container">
    <h2 class="ui header aligned center">Contact Us</h2>
    <div class="ui form hidden">
      <div class="required field">
        <label for="contact-name">Name</label>
        <input id="contact-name" name="contact-name" required type="text">
      </div>
      <div class="required field">
        <label for="contact-email">E-mail Address</label>
        <input id="contact-email" name="contact-email" required type="text">
      </div>
      <div class="required field">
        <label for="contact-message">Message</label>
        <textarea id="contact-message" name="contact-message"
                  required></textarea>
      </div>
      <div class="field">
        <div class="ui green submit button">Submit</div>
      </div>
    </div>
    <div class="ui icon ec-blue inverted message">
      <i class="mail outline icon"></i>
      <div class="content">
        <div class="header">
          Want to get in touch with us?
        </div>
        <p>Send us an email at
          <a href="mailto:eestech-challenge@eestec.net">eestech-challenge@eestec.net</a>
        </p>
      </div>
    </div>
  </div>
  <div class="aligned center ui six stackable link cards mt-4">
    <div class="card" ng-click="milica()">
      <div class="image">
        <img src="assets/images/people/boardPics/Boardies2020/Ivana.jpg">
      </div>
      <div class="content">
        <div class="header">Ivana Damnjanović</div>
        <div class="meta"><b>Project Leader</b>| <a
          href="mailto:ec-leader@eestec.net">Contact</a></div>
      </div>
    </div>
    <div class="card" ng-click="ema()">
      <div class="image">
        <img src="assets/images/people/boardPics/Boardies2020/Olja.jpg">
      </div>
      <div class="content">
        <div class="header">Olja Jakovljević</div>
        <div class="meta"><b>Ambassadors Coordinator</b>| <a
          href="mailto:ec-ambassadors@eestec.net">Contact</a></div>
      </div>
    </div>
    <div class="card" ng-click="damir()">
      <div class="image">
        <img src="assets/images/people/boardPics/Boardies2020/LalVerda.jpg">
      </div>
      <div class="content">
        <div class="header">Lal Verda Çakir</div>
        <div class="meta"><b>Fundraising Coordinator</b>| <a
          href="mailto:ec-fr@eestec.net">Contact</a></div>
      </div>
    </div>
    <div class="card" ng-click="marta()">
      <div class="image">
        <img src="assets/images/people/boardPics/Boardies2020/Selin.jpg">
      </div>
      <div class="content">
        <div class="header">Selin Duvar</div>
        <div class="meta"><b>Public Relations Coordinator</b>| <a
          href="mailto:ec-pr@eestec.net">Contact</a></div>
      </div>
    </div>
    <div class="card" ng-click="melina()">
      <div class="image">
        <img src="assets/images/people/boardPics/Boardies2020/Dimitris.jpg">
      </div>
      <div class="content">
        <div class="header">Dimitris Dedemadis</div>
        <div class="meta"><b>Academic Coordinator</b>| <a
          href="mailto:ec-academic@eestec.net">Contact</a></div>
      </div>
    </div>
    <div class="card" ng-click="melina()">
      <div class="image">
        <img src="assets/images/people/boardPics/Boardies2020/Humam.jpg">
      </div>
      <div class="content">
        <div class="header">Humam Alnemeh</div>
        <div class="meta"><b>Designer</b>| <a
          href="mailto:ec-designer@eestec.net">Contact</a></div>
      </div>
    </div>
  </div>
</section>
