<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="mentors">
  <h1 class="ui header inverted">Mentors and Supervisors of 2019 Competition </h1>
</section>
<section class="ui content container">
    <div class="ui text container">
      <h2 class="ui header aligned center">Mentors</h2>
    </div>
    <div class="aligned center ui four stackable link cards mt-4">
      <div class="card" ng-click="Mavridis()">
        <div class="image">
          <img src="assets/images/people/mentors/NikolaosPhoto_HiResolution.bmp">
        </div>
        <div class="content">
          <div class="header">Mavridis Nikolaos</div>
        </div>
      </div>
      <div class="card" ng-click="Konstantakopoulos()">
        <div class="image">
          <img src="assets/images/people/mentors/Ioannis_Konstantakopoulos.jpeg">
        </div>
        <div class="content">
          <div class="header">Konstantakopoulos Ioannis</div>
        </div>
      </div>
      <div class="card" ng-click="Chatzigiannakis()">
        <div class="image">
          <img src="assets/images/people/mentors/ichatz-2016-large.jpg">
        </div>
        <div class="content">
          <div class="header">Chatzigiannakis Ioannis</div>
        </div>
      </div>
      <div class="card" ng-click="Christopher()">
        <div class="image">
          <img src="assets/images/people/mentors/headshot.jpg">
        </div>
        <div class="content">
          <div class="header">Christopher Yatrakis</div>
        </div>
      </div>
    </div>
    <div class="aligned center ui three stackable link cards mt-4">
      <div class="card" ng-click="Venkatesha()">
        <div class="image">
          <img src="assets/images/people/mentors/vp.jpg">
        </div>
        <div class="content">
          <div class="header">R.R.Venkatesha Prasad</div>
        </div>
      </div>
      <div class="card" ng-click="Luca()">
        <div class="image">
          <img src="assets/images/people/mentors/Luca-Regiani.jpg">
        </div>
        <div class="content">
          <div class="header">Luca Reggiani</div>
        </div>
      </div>
      <div class="card" ng-click="Tsamakos()">
        <div class="image">
          <img src="assets/images/people/mentors/tsamakos.jpg">
        </div>
        <div class="content">
          <div class="header">Tsamakos Alex</div>
        </div>
      </div>
    </div>
  </section>

  <section class="ui content container">
    <div class="ui text container">
      <h2 class="ui header aligned center">Supervisors-Academic Supporters</h2>
    </div>
    <div class="aligned center ui five stackable link cards mt-4">
      <div class="card" ng-click="Mavridis()">
        <div class="image">
          <img src="assets/images/people/mentors/NikolaosPhoto_HiResolution.bmp">
        </div>
        <div class="content">
          <div class="header">Mavridis Nikolaos</div>
        </div>
      </div>
      <div class="card" ng-click="Tsamakos()">
        <div class="image">
          <img src="assets/images/people/mentors/tsamakos.jpg">
        </div>
        <div class="content">
          <div class="header">Tsamakos Alex</div>
        </div>
      </div>
      <div class="card" ng-click="Chatzigiannakis()">
        <div class="image">
          <img src="assets/images/people/mentors/ichatz-2016-large.jpg">
        </div>
        <div class="content">
          <div class="header">Chatzigiannakis Ioannis</div>
        </div>
      </div>
      <div class="card" ng-click="Kleanthis()">
        <div class="image">
          <img src="assets/images/people/mentors/KT_3.PNG">
        </div>
        <div class="content">
          <div class="header">Kleanthis Thramboulidis</div>
        </div>
      </div>
      <div class="card" ng-click="Lukasz()">
        <div class="image">
          <img src="assets/images/people/mentors/lkrzak_web.jpg">
        </div>
        <div class="content">
          <div class="header">Lukasz Krzak</div>
        </div>
      </div>
    </div>
  </section>
