<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">Sponsors of 2019 Competition</h1>
</section>

<section class="ui basic center aligned segment">
  <h1 class="ui header">International Barter Sponsor</h1>
  <div class="ui centered special card">
    <script>
      $('.special.card .image').dimmer({
           on: 'hover'
        });
    </script>
    <div class="blurring dimmable image">
    <!--  <div class="ui dimmer">
        <div class="content">
          <p></p>
        </div>
      </div>-->
      <img src="assets/images/sponsors/Actinus-int-barter.png">
    </div>
    <div class="content">
        <div class="header"><a href="https://www.actinius.com/" target="_blank">Actinius</a></div>
    </div>
  </div>
</section>

<h1 class="ui center aligned header">Final Round Sponsors</h1>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Munich</h2>

    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Munich-infenion.png" alt="">
            </div>
            <div class="content">
                <a href="https://www.infineon.com/">
                    <div class="header">
                        Infineon
                    </div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Munich-intech.png" alt="">
            </div>
            <div class="content">
                <a href="https://www.in-tech.com/en/">
                    <div class="header">
                        Intech
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<h1 class="ui center aligned header">Local Sponsors</h1>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Athens</h2>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Athens-vodafone.png" alt="">
        </div>
        <div class="content">
            <a href="https://www.vodafone.gr/">
                <div class="header">
                    Vodafone
                </div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Belgrade</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Belgrade-mdcs.png">
        </div>
        <div class="content">
            <a href="https://www.microsoft.com/sr-latn-rs/mdcs">
                <div class="header">Microsoft Development Center Serbia</div>
            </a>
        </div>
    </div>
    <h3 class="ui header">Barter</h3>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Belgrade-Flixbus-barter.png" alt="">
            </div>
            <div class="content">
                <a href="https://www.flixbus.rs/">
                    <div class="header">
                        Flixbus
                    </div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Belgrade-KnjazMilos-barter.png" alt="">
            </div>
            <div class="content">
                <a href="https://knjaz.rs/">
                    <div class="header">
                        Knjaz Miloš
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Observer Duisburg</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Duisburg-Ferchau.png">
            </div>
            <div class="content">
                <a href="https://www.ferchau.com/de/de/">
                    <div class="header">Ferchau Engineering</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Duisburg-Techniker.png">
            </div>
            <div class="content">
                <a href="https://www.tk.de/techniker">
                    <div class="header">Techniker </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Ljubljana</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-404.png">
            </div>
            <div class="content">
                <a href="https://404.si/">
                    <div class="header">404</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Danfoss.png">
            </div>
            <div class="content">
                <a href="http://www.danfoss.si/home/#/">
                    <div class="header">Danfoss Engineering Tomorrow</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Epilog.png">
            </div>
            <div class="content">
                <a href="https://www.epilog.net/">
                    <div class="header">Epilog Logistics IT</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljanja-Gorenje.png">
            </div>
            <div class="content">
                <a href="https://www.gorenjegroup.com/si/">
                    <div class="header">Gorenje group</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-IKT.png">
            </div>
            <div class="content">
                <a href="http://ikt.fe.uni-lj.si/">
                    <div class="header">Katedra za informacijske in komunikacijske tehnologije</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-isystem.png">
            </div>
            <div class="content">
                <a href="https://isystemlabs.si/">
                    <div class="header">iSystem</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
               <img src="assets/images/sponsors/Ljubljana-agilcon.png">
            </div>
            <div class="content">
                <a href="https://www.agilcon.com/en/">
                    <div class="header">Agilcon</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Krka.png">
            </div>
            <div class="content">
                <a href="https://www.krka.biz/en/ ">
                    <div class="header">Krka</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Beenius.png">
            </div>
            <div class="content">
                <a href="http://www.beenius.tv/si/">
                    <div class="header">Beenius</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-LTFE.png">
            </div>
            <div class="content">
                <a href="http://ltfe.org/">
                    <div class="header">Labaratorij za Telekomunikacije</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Medius.png">
            </div>
            <div class="content">
                <a href="https://www.medius.si/">
                    <div class="header">Medius</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Microcop.png">
            </div>
            <div class="content">
                <a href="https://www.mikrocop.si/">
                    <div class="header">Microcop</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-nil.png">
            </div>
            <div class="content">
                <a href="https://www.nil.com/">
                    <div class="header">Nil</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Galago-non-barter.png">
            </div>
            <div class="content">
                <a href="http://www.galago.si/">
                    <div class="header">Galago</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-IBM-non-barter.png">
            </div>
            <div class="content">
                <a href="https://www.ibm.com/si-sl/">
                    <div class="header">IBM</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-ICelektronika-non-barter.png">
            </div>
            <div class="content">
                <a href="https://www.ic-elect.si/">
                    <div class="header">IC elektronika</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Marmis-non-barter.png">
            </div>
            <div class="content">
                <a href="http://www.marmis.si/">
                    <div class="header">Marmis</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Monitor-non-barter.png">
            </div>
            <div class="content">
                <a href="http://www.monitor.si/">
                    <div class="header">Monitor</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Ljubljana-Siemens-non-barter.png">
        </div>
        <div class="content">
            <a href="https://new.siemens.com/si/sl.html">
                <div class="header">Siemens</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">JLC Milan</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Milan-Reply.png">
        </div>
        <div class="content">
            <a href="https://www.reply.com/it/">
                <div class="header">Reply</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Niš</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Electricalfaculty-non-barter.png">
            </div>
            <div class="content">
                <a href="http://www.elfak.ni.ac.rs/en/">
                    <div class="header">Elektronski fakultet u Nišu</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Startup-non-barter.png">
            </div>
            <div class="content">
                <a href="http://www.startupcentarnis.org/">
                    <div class="header">Startup centar Niš</div>
                </a>
            </div>
        </div>
    </div>
    <h3 class="ui header">Barter</h3>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-BakeryBrankovic-barter.png">
            </div>
            <div class="content">
                <a href="http://pekara-brankovic.com/?lang=en">
                    <div class="header">Bakery Branković</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-BrosTaxi-barter.png">
            </div>
            <div class="content">
                <a href="http://www.brostaxi.rs/">
                    <div class="header">Bros taxi</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-CocaCola-barter.png">
            </div>
            <div class="content">
                <a href="https://www.coca-cola.rs/">
                    <div class="header">Coca-Cola</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Copyshop-barter.png">
            </div>
            <div class="content">
                <a href="http://www.copyshop.rs/rs/naslovna/">
                    <div class="header">Copyshop</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Giros4U-barter.png">
            </div>
            <div class="content">
                <a href="https://www.facebook.com/Gyros4u/">
                    <div class="header">Gyros4U</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Kaktus-barter.png">
            </div>
            <div class="content">
                <a href="https://www.facebook.com/picerijakaktus/">
                    <div class="header">Kaktus</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-MgMivela-barter.png">
            </div>
            <div class="content">
                <a href="http://www.mgmivela.com/rs/">
                    <div class="header">Mg Mivela</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Night_Day-barter.png">
            </div>
            <div class="content">
                <a href="http://nightandday.rs/">
                    <div class="header">Night & Day</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-Pomodoro-barter.png">
            </div>
            <div class="content">
                <a href="http://pomodoronis.co.rs/">
                    <div class="header">Pomodoro</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-PomPom-barter.png">
            </div>
            <div class="content">
                <a href="https://www.facebook.com/pompomknedle/">
                    <div class="header">Pom Pom Radionica</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Nis-TutiFruti-barter.png">
            </div>
            <div class="content">
                <a href="https://tutifruti.rs/">
                    <div class="header">Tuti Fruti</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Novi Sad</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-OBLOliving-non-barter-03.png">
            </div>
            <div class="content">
                <a href="http://www.obloliving.com/">
                    <div class="header">OBLO living</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Codetribe-non-barter-01.png">
            </div>
            <div class="content">
                <a href="https://codetri.be/">
                    <div class="header">Codetribe</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Levi9-non-barter.png">
            </div>
            <div class="content">
                <a href="https://www.levi9.com/">
                    <div class="header">Levi9</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-MDCS-non-barter-02.png">
            </div>
            <div class="content">
                <a href="https://www.microsoft.com/sr-latn-rs/mdcs">
                    <div class="header">Microsoft Development Center Serbia</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-VegaIT-non-barter-02.png">
            </div>
            <div class="content">
                <a href="https://www.vegaitsourcing.rs/">
                    <div class="header">Vega IT</div>
                </a>
            </div>
        </div>
    </div>
    <h3 class="ui header">Barter</h3>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-ColorMediaCommunications-barter.png">
            </div>
            <div class="content">
                <a href="http://communications.rs/">
                    <div class="header">ColorMedia Communications</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-HelloWorld-barter.png">
            </div>
            <div class="content">
                <a href="https://helloworld.rs/">
                    <div class="header">HelloWorld.rs</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Macval-barter.png">
            </div>
            <div class="content">
                <a href="http://www.macval.rs/html/macval%20tea.html">
                    <div class="header">Macval tea</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Ministry-barter.png">
            </div>
            <div class="content">
                <a href="http://www.obloliving.com/">
                    <div class="header">Ministry for innovation and technological development</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-MgMivela-barter.png">
            </div>
            <div class="content">
                <a href="http://www.mgmivela.com/us/">
                    <div class="header">Mg Mivela</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-NaEks-barter.png">
            </div>
            <div class="content">
                <a href="http://www.naeks.rs/english">
                    <div class="header">Na Eks</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Najstudent-barter.png">
            </div>
            <div class="content">
                <a href="https://www.najstudent.com/">
                    <div class="header">NajStudent.com</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-OradiO-barter.png">
            </div>
            <div class="content">
                <a href="http://oradio.rs/sr/o-nama">
                    <div class="header">OradiO</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-RTVStudentCity-barter.png">
            </div>
            <div class="content">
                <a href="https://rtvsg.rs/">
                    <div class="header">Radio Television Student City</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Studentunion-barter.png">
            </div>
            <div class="content">
                <a href="http://www.studentivrsac.org/">
                    <div class="header">Student union Vršac</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/NoviSad-Union-barter.png">
            </div>
            <div class="content">
                <a href="http://www.poslodavci.rs/about-us/">
                    <div class="header">The Serbian Association of Employers</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Patras</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Patras-dialog.png">
            </div>
            <div class="content">
                <a href="https://www.dialog-semiconductor.com/">
                    <div class="header">Dialog Semiconductor</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Patras-citrix.png">
            </div>
            <div class="content">
                <a href="https://www.citrix.com/">
                    <div class="header">Citrix</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Patras-Intrasoft.png">
            </div>
            <div class="content">
                <a href="https://www.intrasoft-intl.com/">
                    <div class="header">Intrasoft</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Thessaloniki</h2>
    <h3 class="ui header">Barter</h3>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Thessaloniki-HELL-barter.png">
            </div>
            <div class="content">
                <a href="https://www.hellenergy.com/">
                    <div class="header">Hell</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Thessaloniki-Mikel-barter.png">
            </div>
            <div class="content">
                <a href="https://www.mikelcoffee.com/el/home">
                    <div class="header">Mikel</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Thessaloniki-Tuvunu-barter.png">
            </div>
            <div class="content">
                <a href="https://www.tuvunu.com/index.php/en">
                    <div class="header">Tuvunu</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Tuzla</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-VirginPulse.png">
            </div>
            <div class="content">
                <a href="https://www.virginpulse.com/">
                    <div class="header">Virgin Pulse</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-ftz.png">
            </div>
            <div class="content">
                <a href="http://www.fondacijatz.org/">
                    <div class="header">Fondacija tuzlanske zajednice i omladinska banka</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-atlantbh.png">
            </div>
            <div class="content">
                <a href="https://www.atlantbh.com/">
                    <div class="header">Atlantbh</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-dccs.png">
            </div>
            <div class="content">
                <a href="https://www.dccs.at/">
                    <div class="header">DCCS</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-marvelsoft.png">
            </div>
            <div class="content">
                <a href="https://marvelsoft.net/">
                    <div class="header">Marvelsoft</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Observer Valencia</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Valencia-GeneracionEspontanea-non-barter.png">
            </div>
            <div class="content">
                <a href="http://generacionespontanea.upv.es/">
                    <div class="header">Generacion Espontanea</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Valencia-Sothis-non-barter.png">
            </div>
            <div class="content">
                <a href="https://www.sothis.tech/en/home/">
                    <div class="header">Sothis</div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Zurich</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/amiv.png">
        </div>
        <div class="content">
            <div class="header">Amiv</div>
        </div>
    </div>
</section>-->


</div>
