<section class="ui stackable content main grid container">
    <h1 class="ui header aligned center sixteen wide column">Terms &amp; Conditions</h1>
    <h4 class="ui header aligned center sixteen wide column">ENTRY IN THIS COMPETITION CONSTITUTES YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS</h4>

    <div class="container">
        <ol class="ui custom list">
            <li>
                <h5>BINDING AGREEMENT</h5>
                <p>To enter the competition, you must agree to these Terms and Conditions ("Terms"). Therefore, please read these Terms before entry to ensure you understand and agree. You agree that the submission of an entry in the EESTech Challenge constitutes agreement to these Terms. These Terms form a binding legal agreement between you, hereafter referred to as the contestant, and Electrical Engineering STudents' European assoCiation ("EESTEC") concerning the EESTech Challenge.</p>
            </li>
            <li>
                <h5>ELIGIBILITY</h5>
                <p>The participation is open and free of registration to individuals who are between 18 and 26 years.</p>
                <p>The competition is void where prohibited by law.</p>
                <p>The following individuals are not eligible to participate in this Challenge:</p>
                <p class="sublist">
                    a. Challenge Entities, in detail:
                    <span class="sublist">(i) Current EESTech Challenge Local and International board members</span>
                    <span class="sublist">(ii) Current board members of EESTEC branches</span>
                    <span class="sublist">(iii) Current members of EESTEC branches that are responsible for overseeing the work of local boards</span>
                    <span class="sublist">(iv) Current EESTEC Board members</span>
                    <span class="sublist">(v) Current EESTEC Supervisory Board members</span>
                    <span class="sublist">(vi) Current technical consultants and academic partners of the EESTech Challenge.</span>
                </p>
                <p class="sublist last">b. Current employees, interns, contractors, and official office-holders of the corporate sponsors of EESTech Challenge.</p>
                <p>EESTEC reserves the right to verify eligibility and to adjudicate on any dispute at any time.</p>
                <p>All communications between EESTech Challenge and contestants, including but not limited to the EESTech Challenge website content and email communications, will be in English, except for the Local Rounds which will be conducted in the native language.</p>
            </li>
            <li>
                <h5>HOW TO ENTER</h5>
                <p>All Contestants must register and provide the required personal information at the Competition website, located at: <a href="https://eestechchallenge.eestec.net." target="_blank">https://eestechchallenge.eestec.net.</a>.</p>
                <p>As a part of the registration, the contestants will be required to provide information about themselves, such as their names and email addresses.</p>
            </li>
            <li>
                <h5>CONDITIONS OF PARTICIPATION</h5>
                <p>The contestant's participation in this competition means that the contestant agrees to be bound by these Terms and by the decisions of EESTEC, which are final and binding on all matters about this competition.</p>
                <p>The contestant agrees that EESTEC shall have a perpetual, irrevocable, worldwide, royalty-free right to use, copy, distribute, modify and make publicly available the task solution submission in connection with the operation, conduct, administration, and advertising and promotion of the competition.</p>
                <p>The contestants of the Final Round agree that the intellectual property (industrial property rights and copyrights) of the task solutions created as part of the competition belongs to the task creator unless the task creator explicitly renounces the appropriation towards the contestants. If the task creator renounces the appropriation, the intellectual property remains with the contestants.</p>
                <p>Prizes are awarded without warranty of any kind from EESTEC.</p>
            </li>
            <li>
                <h5>TRAVEL AND EXPENSES</h5>
                <p>Winners are encouraged, but not obliged to be present in the Final Round. EESTEC does not guarantee any cost coverage or refunds of travel, food, or accommodation expenses.</p>
            </li>
            <li>
                <h5>PRIVACY</h5>
                <p>The contestant acknowledges and agrees that EESTEC may collect, store, share and otherwise use personally identifiable information provided during the registration process and the competition, including, but not limited to, full name, address, phone number, email address, and curriculum vitae. EESTEC will use this information, for administering the EESTech Challenge and verifying the contestant's identity and telephone number in case the contestant qualifies for a prize, and if agreed to by the contestant, for recruiting purposes, by the EESTech Challenge's corporate partners or sponsors.
                </p>
                <p>The contestant's information may also be transferred to countries outside the country of the contestant's residence. Such other countries may not have privacy laws and regulations similar to those of the country of the contestant's residence. 
                </p>
                <p>If the contestant does not provide the mandatory data required at registration, EESTEC reserves the right to disqualify the entry.
                </p>
                <p>The contestant has the right to request access, review, rectification or deletion of any personal data held by EESTEC in connection with the EESTech Challenge by writing to EESTech Challenge at this email address: <a href="mailto:eestech-challenge@eestec.net" target="_blank">eestech-challenge@eestec.net</a>
                </p>
                <p>The contestant agrees to be photographed/filmed/recorded on behalf of EESTEC and its corporate partners or sponsors. The contestant grants EESTEC and its corporate partners or sponsors a transferable, sub-licensable, royalty-free, worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of any images/videos/recordings. The images/videos/recordings may be used in both printed and digital form for a maximum of 15 years. The images/videos/recordings may be stored in the EESTech Challenge's image and media data bank, which is available to the EESTech Challenge and the Board of EESTEC. EESTEC and its partners are allowed to use these pictures freely, including but not limited to promotional purposes and grant applications.
                </p>
                <p>If the contestant wants EESTEC and its corporate partners or sponsors to restrain from using the images/videos/recordings in new material, the contestant should contact <a href="mailto:eestech-challenge@eestec.net" target="_blank">eestech-challenge@eestec.net</a>. EESTEC and the EESTech Challenge will then no longer use the contestant's data in new material. The contestant will also be removed from already published material wherever possible.  
                </p>
                <p>To request information on how the contestant's data is used, or if the contestant feels that his/her data have been used in a way that violates the agreement or current legislation, please contact <a href="mailto:eestech-challenge@eestec.net" target="_blank"></a>eestech-challenge@eestec.net</a>. 
                </p>
            </li>
            <li>
                <h5>ELIMINATION</h5>
                <p>The contestant may be prohibited from participating in EESTech Challenge if, in EESTEC's sole discretion, EESTEC reasonably believes that the contestant has attempted to undermine the legitimate operation of the competition by:
                </p>
                <p class="sublist"><strong>a. </strong>Providing false information concerning his/her identity and other personal data;</p>
                <p class="sublist"><strong>b. </strong>Breaching any of the provisions outlined in these Terms;</p>
                <p class="sublist"><strong>c. </strong>Threatening, harassing or interfering with the ability of other contestants to effectively participate in the EESTech Challenge;</p>
                <p class="sublist"><strong>d. </strong>Threatening, harassing or interfering with EESTech Challenge organizers, or other EESTEC members;</p>
                <p>EESTEC further reserves the right to disqualify any submission that it believes in its sole and unfettered discretion infringes upon or violates the rights of any third party or otherwise does not comply with these Terms.</p>
                <p>Claims or concerns about suspicious activity or cheating in any Round must be delivered to the EESTech Challenge administrator within seven (7) days after the end of that Round. If EESTEC suspects cheating or violation of the Terms by any contestant, EESTEC will in its sole discretion research such claims and take the appropriate action. All decisions of EESTEC in these matters are final and binding.</p>
            </li>
            <li>
                <h5>NOT AN OFFER OR CONTRACT OF EMPLOYMENT</h5>
                <p>Under no circumstances shall the submission of an entry into the EESTech Challenge or anything in these Terms be construed as an offer or contract of employment with EESTEC or any of the sponsors of the EESTech Challenge. You acknowledge that you have submitted your entry voluntarily and not in confidence or trust. You acknowledge that no confidential, fiduciary, agency or other relationship or implied-in-fact contract now exists between you and EESTEC and that no such relationship is established by your submission of an entry under these Terms.</p>
            </li>
        </ol>
    </div>
</section>
