<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="universities">
    <h1 class="ui header inverted">Universities</h1>
</section>
<!--
<section class="ui basic center aligned segment">
  <h1 class="ui header">International Sponsor</h1>
  <div class="ui centered special card">
    <script>
      $('.special.card .image').dimmer({
           on: 'hover'
        });
    </script>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <p>
            RUAG Defence is a leading independent provider of integration, upgrade and maintenance services for land-based defence and security systems.
          </p>
        </div>
      </div>
      <img src="assets/images/sponsors/ruag.jpg">
    </div>
    <div class="content">
        <div class="header"><a href="https://www.ruag.com/en/products-services/land/cyber-security" target="_blank">Ruag Defence</a></div>
    </div>
  </div>
</section>-->

<section class="ui basic center aligned segment">
    <h2 class="ui header">Athens</h2>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/universities/Athens.png" alt="">
        </div>
        <div class="content">
            <a href="https://www.ntua.gr/en/">
                <div class="header">
                    National Technical University of Athens
                </div>
            </a> 
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Belgrade</h2>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/universities/ETF_logo_ENG.gif" alt="">
        </div>
        <div class="content">
            <a href="https://www.ntua.gr/en/">
                <div class="header">
                    School of Electrical Engineering, University of Belgrade
                </div>
            </a> 
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Nis</h2>
    <div class="ui centered card">
        <div class="image">
            
                <img src="assets/images/universities/Nis.png">
            
        </div>
        <div class="content">
            <a href="https://www.etf.bg.ac.rs/en">
                <div class="header">University of Nis Faculty of Electronic Engineering</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Ljubljana</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                    <img src="assets/images/universities/Ljubljana-Electrical.png">
            </div>
            <div class="content">
                <a href="https://www.uni-lj.si/academies_and_faculties/faculties/2013052914482436/">
                    <div class="header">University of Ljubljana Faculty of Electrical Engineering</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                    <img src="assets/images/universities/Ljubljana-Computerscience.png">
            </div>
            <div class="content">
                <a href="https://www.uni-lj.si/academies_and_faculties/faculties/2013071111440959/">
                    <div class="header">University of Ljubljana Faculty of Computer and Information Science</div>
                </a>
            </div>
        </div>
    </section>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Patras</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/universities/Patras.png">
        </div>
        <div class="content">
            <a href="http://www.upatras.gr/en">
                <div class="header">University of Patras</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Tuzla</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/universities/Tuzla.png">
            </div>
            <div class="content">
                <a href="http://www.untz.ba/">
                    <div class="header">University of Tuzla</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/universities/Tuzla-elektrotehnika.png">
            </div>
            <div class="content">
                <a href="http://www.untz.ba/index.php?page=fe-nir-en">
                    <div class="header">University of Tuzla Faculty of Electrical Engineering</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">Valencia</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/universities/Valencia.png">
        </div>
        <div class="content">
            <a href="http://www.upv.es/index-en.html">
                <div class="header">Universitat Politècnica de València</div>
            </a>
        </div>
    </div>
</section>

</div>