<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">JLC Aveiro</h1>
</section>
<div style="margin-top: 40px">
    <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfte3-U6li4ZOu142-YfYDZHY7L3b4J9PTZDGOarOKknFbKxg/viewform?embedded=true"
    width="100%" height="3200" frameborder="0" marginheight="0" marginwidth="0" >Loading...</iframe>-->
</div>

<!--<div>
  <form class="" action="index.html" method="post">
    <h1>[EESTech Challenge 19] Local Round JLC Aveiro Application Form</h1>
    <p>This is the form for application for the EESTech Challenge Local Round organised by JLC Aveiro.</p>
    <p>Terms & Conditions link:<a href="https://eestechchallenge.eestec.net/#/terms">https://eestechchallenge.eestec.net/#/terms</a> </p>
    <p>* Required</p>
  </form>
</div>-->
