<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">Observer Dublin</h1>
</section>
<div style="margin-top: 40px">
    <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfAKoa7BF5tahMm1nhqkEGtbjLthon14GBnRrf5sVJRBKkrhQ/viewform?embedded=true"
    width="100%" height="3200" frameborder="0" marginheight="0" marginwidth="0" >Loading...</iframe>-->
</div>
