<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">JLC Duisburg</h1>
</section>
<div style="margin-top: 40px">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXK27Rg4-FSmF3cjLM_FmShNgns6HkEH11CZu2LEKKZ-LI_Q/viewform?embedded=true"
    width="100%" height="3200" frameborder="0" marginheight="0" marginwidth="0" >Loading...</iframe>

    <!--<div class="" style="text-align:center; height:400px;">
        <h3>Applications for the Local Rounds will be opened soon!</h3>
    </div>-->
</div>
